<h1>Add Restaurant</h1>
<form method="post">
    <table>

        <tr>
            <td>Name</td>
            <td><input name="name" type="text" /></td>
        </tr>
        <tr>
            <td>Notes (optional)</td>
            <td><input name="notes" type="text" /></td>
        </tr>
    </table>
    <input type="submit" value="Add Restaurant" />
</form>