@model RestaurantApp.ViewModels.RateRestaurantViewModel

<h1>Rate and Complete your taste test!</h1>
<h3>@Model.Name</h3>

<form asp-controller="Restaurant" asp-action="RateRestaurant" method="post">
    <table>
        <tr>
            <td><label asp-for="Notes">Notes (optional)</label></td>
            <td><input name="notes" type="text" asp-for="Notes" /></td>
        </tr>
        <tr>
            <td>Rating</td>
        </tr>
        <tr>
            <td><select asp-for="Rating">
                    <option value="Good">Good</option>
                    <option value="Bad">Bad</option>
                </select></td>
        </tr>
    </table>
    <input type="hidden" asp-for="ID" value="@Model.ID" />
    <input type="submit" value="Save" />
</form>
