@model List<RestaurantApp.Models.Restaurant>

<h1>Select a Restaurant to Edit</h1>
<ul>
@foreach (var restaurant in Model)
    {
        <li><a asp-controller="Restaurant" asp-action="EditRestaurant" asp-route-ID="@restaurant.ID">@restaurant.Name</a></li>
    }
    <li><a asp-controller="Restaurant" asp-action="Remove">- Remove a Restaurant</a></li>
</ul>