@model List<RestaurantApp.Models.RestaurantCategory>

<h2>Categories</h2>
<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>
<ul>
    @foreach (var category in Model)
    {
        <li>@category.Name</li>
    }
</ul>
<p><a asp-controller="Category" asp-action="Remove">Remove a Category</a></p>