@model List<RestaurantApp.Models.RestaurantCategory>

<table>
    <tr>
        <td><h1>Categories</h1></td>
        <td><h5><a asp-controlled="Category" asp-action="Edit">Edit</a></h5></td>
    </tr>
</table>
<ul>
    @foreach (var category in Model)
    {
        <li><label for="name">@category.Name </label></li>
    }
        <li><a asp-controller="Category" asp-action="Add">Add Category</a></li>
</ul>
<p><a asp-controller="Category" asp-action="Remove">Remove a Category</a></p>